{% extends 'base.html.twig' %}

{% block title %}
	Hello HomeController!
{% endblock %}

{% block body %}
<header class="bg-dark py-5">
	<div class="container px-5">
		<div class="row gx-5 justify-content-center">
			<div class="col-lg-6">
				<div class="text-center my-5">
					<h1 class="display-5 fw-bolder text-white mb-2">Present your business in a whole new way</h1>
					<p class="lead text-white-50 mb-4">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit!</p>
					<div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
						<a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Get Started</a>
						<a class="btn btn-outline-light btn-lg px-4" href="#!">Learn More</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- Features section-->
<section class="py-5 border-bottom" id="features">
	<div class="container px-5 my-5">
		<div class="row gx-5">
			<div class="col-lg-4 mb-5 mb-lg-0">
				<div class="card" style="width: 18rem;">
					<img src="images/default_home_card.jpeg" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						<a href="#" class="btn btn-outline-primary">Lire la suite</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 mb-5 mb-lg-0">
				<div class="card" style="width: 18rem;">
					<img src="images/default_home_card.jpeg" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						<a href="#" class="btn btn-outline-primary">Go somewhere</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 mb-5 mb-lg-0">
				<div class="card" style="width: 18rem;">
					<img src="images/default_home_card.jpeg" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						<a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
