.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}

.bg-1 {
    background: url("../images/22.jpg") no-repeat 50% 50%;
    background-size: cover;
    position: relative;
}