<div class="list-group">
    <a href="{{ path('category_index') }}" class="list-group-item list-group-item-action">
        Gestion des catégorie
    </a>
    <a href="{{ path('category_index') }}" class="list-group-item list-group-item-action">
        Gestion des figures
    </a>
</div>