<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %} Welcome! {% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
			<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
			<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
			<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.1/mdb.min.css" rel="stylesheet"/>
			<link rel="stylesheet" href="css/style.css">
		{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
			<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.1/mdb.min.js"></script>
		{% endblock %}
	</head>
	<body>
		{% block header %}
			{% include "partials/_header.html.twig" %}
		{% endblock %}
		{% block body %}{% endblock %}
		{% block footer %}
			{% include "partials/_footer.html.twig" %}
		{% endblock %}
	</body>
</html>
